body{
	margin: 0;
	padding: 0;
	width: 100%;
	background: black;
}

*,
*:before,
*:after{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;

}


.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	
}

.header{
	width: 100%;
	z-index: 1000;
	padding-top: 20px;
	padding-bottom: 20px;
}

.header__inner{
	display: flex;
	justify-content: space-between;
	
}

.change{
	color: black;
	font-weight: 700;
	padding: 5px 15px;
	background-color: #E0E0E0;
	text-decoration: none;
}


.change:hover{
	background-color: orange;

}


a.active__link{
	pointer-events: none;
	cursor: default;
	
}

/*NAVIGATION*/

.nav{
	display: inline-block;
	justify-content: space-between;
	font-size: 17px;

}
.nav__link{
	
	color: white;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 5px;
	text-decoration: none;
	position: relative;
	vertical-align: top;
	
}


.nav__link:hover{
	color: white;
	background-color: orange;
}

.active__link{
	background-color: orange;
	color: white;

	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 5px;
	text-decoration: none;
	position: relative;
	vertical-align: top;
}
.active__link:after{
	content: '';
	display: block;
	height: 3px;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: 1;
	position: absolute;
	margin-top: 5px;
	opacity: 1;
	background-color: orange;
}


.nav__link::after{
	content: '';
	display: block;
	height: 3px;
	width: 0%;
	top: 100%;
	left: 0;
	z-index: 1;
	position: absolute;
	opacity: 0;
	transition: 0.5s;
	margin-top: 5px;

}

.nav__link:hover:after{
	background: white;
	opacity: 1;
	width: 100%;
	background: orange;
}


/*MAIN */

.main__video{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 10px;
}

.video1{
	
	background-color: orange;

	

}

.video2{
	background-color: grey;
	padding-left: 25px;
	
}

.empty__space{
	background-color: black;
	width: 1145px;
	height: 5px;
}

.video3{
	background-color: grey;

}

.name__video{
	text-align: center;
	font-size: 40px;
	color: white;
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 10px;

}


/*FOOTER*/

.footer{
	display: flex;
	bottom: 0px;
	width: 100%;
	justify-content: center;
	position: absolute;
}

.footer__note{
	padding-bottom: 10px;
	padding-top: 25px;
	color: grey;
}



